:root{
    --normal-icon-width: 24px;
    --list-icon-width: 18px;
    --standard-padding: 18px;
    --bullets-padding: 24px;

    --blue-background: #0ea5e9;
}

*{
    font-family: "Roboto", sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 75px 100px 1fr 1fr;
}

.dashboard{
    background-color: var(--blue-background);
    color: white;
    font-size: 18px;
    font-weight: bold;

    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: 75px auto auto 1fr;
    gap: 48px;
}

.logo-container,
.links-container,
.controls-container{
    display: grid;
    align-items: center;
    grid-template-columns: 75px 1fr;
}

.links-container,
.controls-container{
    align-items: start;
}

.logo-image{
    width: 48px;
}
.logo-text{
    font-size: 28px;
}

.links-container > ul{
    display: grid;
    grid-template-rows: repeat(6, 50px);
    align-items: center;
}
.controls-container > ul{
    display: grid;
    grid-template-rows: repeat(3, 50px);
    align-items: center;
}
ul.links-icons li,
ul.controls-icons li,
.logo-image{
    place-self: center;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

img{
    width: var(--normal-icon-width);
}

.icon{
    filter: invert(100%);
}

.nav-bar,
.greeting-bar{
    grid-column: 2 / -1;
}

.nav-bar{
    padding: 0 var(--standard-padding);
    font-weight: bold;

    display: grid;
    grid-template-columns: 40px 1fr 100px 50px 75px 125px;

    align-items: center;
}

.nav-bar .profile-icon{
    width: 50px;
}

.nav-bar input{
    height: 32px;
    border: 1px solid rgb(237, 237, 237);
    background-color: rgb(204, 216, 227);
}

input{
    border-radius: 15px;
}

.greeting-bar{
    padding: 0 var(--standard-padding);
    font-weight: bold;

    display: grid;
    grid-template-columns: 75px 1fr repeat(3, 100px);
    gap: 24px;
    align-items: center;

    position: relative;
    box-shadow: 0px 5px 5px #a7cee3;
}

.greeting-bar .profile-icon{
    width: 75px;
}

.greeting-bar .username{
    font-size:18px;
}

button{
    background-color: var(--blue-background);
    color: white;
    padding: 12px 24px;
    border: 0;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
}

.projects{
    background-color: #bae6fd;

    grid-row: span 2;

    padding: var(--standard-padding);
}

.section-name{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: var(--standard-padding);
}

.project{
    background-color: white;
    border-radius: 5px;
    padding: var(--standard-padding);
    border-left: 5px solid orange;

    position: relative;
    box-shadow: 3px 3px 5px #a7cee3;
}

.project .name{
    font-weight: bold;
    font-size: 16px;
}

.project .icons{
    margin-top: 12px;

    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: end;
}

.announcements,
.trendings{
    background-color: #bae6fd;

    padding-top: var(--standard-padding);
    padding-right: var(--standard-padding);
}

.announcements-container,
.trendings-container{
    background-color: #e0f2fe;

    border-radius: 5px;
    padding: var(--standard-padding);

    position: relative;
    box-shadow: 3px 3px 5px #a7cee3;
}

hr{
    border-color: rgb(176, 202, 255);
}

.announcement{
    padding: var(--standard-padding) 0;
}

.announcement > .name{
    font-weight: bold;
    font-size: 14px;
}

.announcement > .description{
    font-size: 14px;
}

.trending{
    display: grid;
    grid-template-columns: 75px 1fr;
}

.trending + .trending{
    margin-top: 24px;
}

.trending-icon{
    justify-self: center;
    align-self: center;
    width: 50px;
    border-radius: 50%;
}

.description{
    color:grey;
}